@charset "UTF-8";
@tailwind base;
@tailwind components;
@tailwind utilities;
/*----------------------------
  Sass function
-----------------------------*/
/*rem変換*/
/*ブレイクポイント*/
/*カラー変数*/
/*----------------------------
  global
-----------------------------*/
.button {
  margin-top: 60px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .button {
    text-align: left;
  }
}
.button a {
  display: inline-block;
  padding: 16px 60px;
  font-size: 1rem;
  background-color: #f4f4f1;
  border-radius: 3px/3px;
  box-shadow: 3px 3px 3px #dadada;
  position: relative;
}
.button a::before {
  content: "";
  position: absolute;
  border-top: 1px solid #707070;
  border-right: 1px solid #707070;
  width: 8px;
  height: 8px;
  transform: translate(0, -50%) rotate(45deg);
  top: 50%;
  right: 20px;
}
.button button {
  display: inline-block;
  padding: 16px 60px;
  font-size: 1rem;
  background-color: #f4f4f1;
  border-radius: 3px/3px;
  box-shadow: 3px 3px 3px #dadada;
  position: relative;
}
.button button::before {
  content: "";
  position: absolute;
  border-top: 1px solid #707070;
  border-right: 1px solid #707070;
  width: 8px;
  height: 8px;
  transform: translate(0, -50%) rotate(45deg);
  top: 50%;
  right: 20px;
}

@media screen and (min-width: 1000px) {
  .sp-show {
    display: none;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Serif JP", serif;
  font-family: "Source Serif Pro", serif;
}

p {
  margin-bottom: 20px;
  line-height: 1.9;
}

/*----------------------------
  header
----------------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  z-index: 1000;
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
@media screen and (min-width: 1000px) {
  .header-wrap {
    height: 120px;
  }
}
.header-logo {
  font-size: 1.25rem;
}
.header-nav-wrap {
  display: none;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 1000px) {
  .header-nav-wrap {
    display: block;
  }
}
.header-nav-modal {
  display: none;
  transition: all 0.3s ease-in-out;
}
.header-hamburger {
  position: relative;
  z-index: 999;
}
@media screen and (min-width: 1000px) {
  .header-hamburger {
    display: none;
  }
}
.header-hamburger span {
  display: block;
  width: 20px;
  height: 1px;
  background-color: #707070;
  margin: 5px 0;
}
.header-navi {
  padding-top: 60px;
  padding-left: 40px;
  height: 100vh;
  width: 70vw;
  position: relative;
  z-index: 1000;
  background-color: #f4f4f1;
}
@media screen and (min-width: 1000px) {
  .header-navi {
    display: flex;
    padding-top: 0;
    height: auto;
    background: none;
    width: auto;
  }
}
.header-navi-list a {
  display: inline-block;
  padding: 10px 20px;
}

/*----------------------------
  main
----------------------------*/
.main {
  margin-top: 60px;
  overflow: hidden;
}
@media screen and (min-width: 1000px) {
  .main {
    margin-top: 120px;
  }
}

/*----------------------------
  Footer
-----------------------------*/
.footer {
  background-color: #707070;
  color: #f4f4f1;
  font-size: 0.875rem;
  padding: 20px 0;
}
.footer-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer-wrap {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer-logo {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .footer-logo {
    margin-bottom: 0;
  }
}
.footer-navi {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer-navi {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer-navi-list a {
  display: inline-block;
  padding: 10px 20px;
}
.footer-sns {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .footer-sns {
    margin-top: 40px;
    justify-content: flex-end;
  }
}
.footer-sns img {
  width: 36px;
  margin: 0 10px;
  filter: invert(100%);
}
.footer-copy {
  margin-top: 20px;
  text-align: center;
}

/*----------------------------
  Key
----------------------------*/
.key {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../img/key-01.jpg");
  background-size: cover;
  background-position: right 0 bottom 0;
}
@media screen and (min-width: 768px) {
  .key {
    height: calc(100vh - 120px);
  }
}
.key-title {
  font-size: 2.25rem;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .key-title {
    font-size: 2.75rem;
    margin-bottom: 40px;
  }
}
.key-sub {
  font-size: 1.125rem;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .key-sub {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
}
.key-text {
  font-size: 0.75rem;
}
@media screen and (min-width: 768px) {
  .key-text {
    font-size: 1rem;
  }
}

/*----------------------------
  News
----------------------------*/
/*----------------------------
  infomation
----------------------------*/
.info {
  color: #f4f4f1;
  background-color: #707070;
  padding: 40px 0;
  margin-bottom: 60px;
}
@media screen and (min-width: 1000px) {
  .info {
    width: 800px;
    margin-left: auto;
    margin-top: -100px;
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 1000px) {
  .info-wrap {
    padding: 0 60px;
  }
}
.info-title {
  font-size: 1.75rem;
  margin-bottom: 40px;
}
.info-title span {
  display: inline-block;
  position: relative;
}
.info-title span::before {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background-color: #f4f4f1;
  top: 50%;
  right: -100%;
  transform: translate(-50%, 0);
}
.info-list-item {
  margin-bottom: 20px;
  font-size: 1rem;
}
.info-list :last-child {
  margin-bottom: 0;
}
.info-date {
  display: inline-block;
  margin-right: 40px;
  margin-bottom: 4px;
}
@media screen and (min-width: 768px) {
  .info-date {
    margin-bottom: 0;
  }
}

/*----------------------------
  About
----------------------------*/
.about {
  color: #707070;
  padding: 40px 0;
  position: relative;
  margin-bottom: 60px;
}
.about::before {
  content: "";
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 90vw;
  height: 140px;
  background-color: #f0e3d9;
}
@media screen and (min-width: 1000px) {
  .about::before {
    height: 200px;
  }
}
.about-title {
  font-size: 1.75rem;
  margin-bottom: 40px;
}
.about-title span {
  display: inline-block;
  position: relative;
}
.about-title span::before {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background-color: #707070;
  top: 50%;
  right: -170%;
  transform: translate(-50%, 0);
}
.about-content {
  width: 100%;
  font-size: 1rem;
  position: relative;
}
@media screen and (min-width: 1000px) {
  .about-content {
    font-size: 1.25rem;
  }
}

/*----------------------------
  Work
----------------------------*/
/*----------------------------
  Flow
----------------------------*/
/*----------------------------
  Contact
----------------------------*/
.contact {
  color: #707070;
  padding: 40px 0;
  position: relative;
  margin-bottom: 40px;
}
.contact::before {
  content: "";
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
  height: 160px;
  background-color: #f4f4f1;
}
@media screen and (min-width: 1000px) {
  .contact-wrap {
    padding: 0 60px;
  }
}
.contact-title {
  font-size: 1.75rem;
  margin-bottom: 40px;
  text-align: center;
}
.contact-title span {
  display: inline-block;
  position: relative;
}
.contact-content {
  font-size: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1000px) {
  .contact-content {
    font-size: 1.25rem;
  }
}
.contact .button {
  text-align: center;
}

/*----------------------------
  Form
----------------------------*/
.form {
  color: #707070;
  padding: 40px 0;
  position: relative;
  margin-bottom: 40px;
}
.form::before {
  content: "";
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
  height: 160px;
  background-color: #f4f4f1;
}
@media screen and (min-width: 1000px) {
  .form-wrap {
    padding: 0 60px;
  }
}
.form-title {
  font-size: 1.75rem;
  margin-bottom: 40px;
  text-align: center;
}
.form-title span {
  display: inline-block;
  position: relative;
}
.form-content {
  font-size: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
@media screen and (min-width: 1000px) {
  .form-content {
    font-size: 1.25rem;
  }
}
.form-formarea p {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1000px) {
  .form-formarea p {
    display: block;
  }
}
.form label {
  width: 100%;
  display: inline-block;
}
@media screen and (min-width: 1000px) {
  .form label {
    width: 30%;
  }
}
.form input {
  width: 100%;
  display: inline-block;
  border: 1px solid #d9d9d9;
  border-radius: 5px/5px;
}
@media screen and (min-width: 1000px) {
  .form input {
    width: 70%;
  }
}
.form textarea {
  width: 100%;
  display: inline-block;
  height: 200px;
  border: 1px solid #d9d9d9;
  border-radius: 5px/5px;
}
@media screen and (min-width: 1000px) {
  .form textarea {
    width: 70%;
  }
}
.form-textarea {
  vertical-align: top;
}
.form-submit {
  text-align: center;
}

/*----------------------------
  pagetop
----------------------------*/
.page-top {
  width: 50px;
  height: 50px;
  background-color: #f4f4f1;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%/50%;
  border: 1px solid #d1d1d1;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
}
.page-top::before {
  position: absolute;
  content: "";
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-135deg);
  width: 10px;
  height: 10px;
  border-right: 2px solid #707070;
  border-bottom: 2px solid #707070;
}
.page-top:hover {
  background-color: #f0e3d9;
}

.page-top.is_active {
  opacity: 1;
  visibility: visible;
}

.header-nav-wrap.is_active {
  opacity: 1;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 1000px) {
  .header-nav-wrap.is_active {
    position: initial;
  }
}

.header-nav-modal.is_active {
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: rgba(112, 112, 112, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
}
@media screen and (min-width: 1000px) {
  .header-nav-modal.is_active {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */