@tailwind base;
@tailwind components;
@tailwind utilities;

/*----------------------------
  Sass function
-----------------------------*/
/*rem変換*/
$baseFontSize: 16;
@function rem($pixels) {
  @return $pixels / $baseFontSize * 1rem;
}
/*ブレイクポイント*/
$breakpoints: (
  "sm": "screen and (min-width: 400px)",
  "md": "screen and (min-width: 768px)",
  "lg": "screen and (min-width: 1000px)",
  "xl": "screen and (min-width: 1200px)",
) !default;
@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
/*カラー変数*/
$c-1: #f4f4f1;
$c-2: #f0e3d9;
$c-3: #707070;
$c-4: #ffffff;

/*----------------------------
  global
-----------------------------*/
.button {
  margin-top: 60px;
  text-align: center;
  @include mq(md) {
    text-align: left;
  }
  a {
    display: inline-block;
    padding: 16px 60px;
    font-size: rem(16);
    background-color: $c-1;
    border-radius: 3px/3px;
    box-shadow: 3px 3px 3px #dadada;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      border-top: 1px solid #707070;
      border-right: 1px solid #707070;
      width: 8px;
      height: 8px;
      transform: translate(0, -50%) rotate(45deg);
      top: 50%;
      right: 20px;
    }
  }
  button {
    display: inline-block;
    padding: 16px 60px;
    font-size: rem(16);
    background-color: $c-1;
    border-radius: 3px/3px;
    box-shadow: 3px 3px 3px #dadada;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      border-top: 1px solid #707070;
      border-right: 1px solid #707070;
      width: 8px;
      height: 8px;
      transform: translate(0, -50%) rotate(45deg);
      top: 50%;
      right: 20px;
    }
  }
}
.sp-show {
  @include mq(lg) {
    display: none;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Noto Serif JP", serif;
  font-family: "Source Serif Pro", serif;
}
h1 {
}
h2 {
}
h3 {
}
h4 {
}
h5 {
}
p {
  margin-bottom: 20px;
}
span {
}
/*----------------------------
  header
----------------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  z-index: 1000;
  &-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mq(lg) {
      height: 120px;
    }
  }
  &-logo {
    font-size: rem(20);
  }
  &-nav-wrap {
    display: none;
    @include mq(lg) {
      display: block;
    }
  }
  &-hamburger {
    @include mq(lg) {
      display: none;
    }
    span {
      display: block;
      width: 20px;
      height: 1px;
      background-color: $c-3;
      margin: 5px 0;
    }
  }
  &-navi {
    display: flex;
    &-list {
      a {
        display: inline-block;
        padding: 10px 20px;
      }
    }
  }
}
/*----------------------------
  main
----------------------------*/
.main {
  margin-top: 60px;
  overflow: hidden;
  @include mq(lg) {
    margin-top: 120px;
  }
}
/*----------------------------
  Footer
-----------------------------*/
.footer {
  background-color: $c-3;
  color: $c-1;
  font-size: rem(14);
  padding: 20px 0;
  &-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mq(md) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &-logo {
    margin-bottom: 20px;
    @include mq(md) {
      margin-bottom: 0;
    }
  }

  &-navi {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mq(md) {
      flex-direction: row;
      justify-content: space-between;
    }
    &-list {
      a {
        display: inline-block;
        padding: 10px 20px;
      }
    }
  }
  &-sns {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    @include mq(md) {
      margin-top: 40px;
      justify-content: flex-end;
    }
    img {
      width: 36px;
      margin: 0 10px;
      -webkit-filter: invert(100%);
      filter: invert(100%);
    }
  }
  &-copy {
    margin-top: 20px;
    text-align: center;
  }
}
/*----------------------------
  Key
----------------------------*/
.key {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../img/key-01.jpg");
  background-size: cover;
  background-position: right 0 bottom 0;
  @include mq(md) {
    height: calc(100vh - 120px);
  }

  &-title {
    font-size: rem(36);
    margin-bottom: 40px;
    @include mq(md) {
      font-size: rem(44);
      margin-bottom: 40px;
    }
  }
  &-sub {
    font-size: rem(18);
    margin-bottom: 20px;
    @include mq(md) {
      font-size: rem(24);
      margin-bottom: 20px;
    }
  }

  &-text {
    font-size: rem(12);
    @include mq(md) {
      font-size: rem(16);
    }
  }
}
/*----------------------------
  News
----------------------------*/
.news {
}
/*----------------------------
  infomation
----------------------------*/
.info {
  color: $c-1;
  background-color: $c-3;
  padding: 40px 0;
  margin-bottom: 60px;
  @include mq(lg) {
    width: 800px;
    margin-left: auto;
    margin-top: -100px;
    margin-bottom: 100px;
  }
  &-wrap {
    @include mq(lg) {
      padding: 0 60px;
    }
  }
  &-title {
    font-size: rem(28);
    margin-bottom: 40px;
    span {
      display: inline-block;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        display: block;
        width: 50px;
        height: 1px;
        background-color: $c-1;
        top: 50%;
        right: -100%;
        transform: translate(-50%, 0);
      }
    }
  }
  &-list {
    &-item {
      margin-bottom: 20px;
      font-size: rem(16);
    }
    :last-child {
      margin-bottom: 0;
    }
  }
  &-date {
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 4px;
    @include mq(md) {
      margin-bottom: 0;
    }
  }
}
/*----------------------------
  About
----------------------------*/
.about {
  color: $c-3;
  padding: 40px 0;
  position: relative;
  margin-bottom: 60px;
  &::before {
    content: "";
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 90vw;
    height: 140px;
    background-color: $c-2;
    @include mq(lg) {
      height: 200px;
    }
  }

  &-title {
    font-size: rem(28);
    margin-bottom: 40px;
    span {
      display: inline-block;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        display: block;
        width: 50px;
        height: 1px;
        background-color: $c-3;
        top: 50%;
        right: -170%;
        transform: translate(-50%, 0);
      }
    }
  }
  &-content {
    width: 100%;
    font-size: rem(16);
    position: relative;
    @include mq(lg) {
      font-size: rem(20);
      width: 50%;
    }
  }
}
/*----------------------------
  Work
----------------------------*/
.work {
}
/*----------------------------
  Flow
----------------------------*/
.flow {
}
/*----------------------------
  Contact
----------------------------*/
.contact {
  color: $c-3;
  padding: 40px 0;
  position: relative;
  margin-bottom: 40px;
  &::before {
    content: "";
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 160px;
    background-color: $c-1;
  }

  &-wrap {
    @include mq(lg) {
      padding: 0 60px;
    }
  }
  &-title {
    font-size: rem(28);
    margin-bottom: 40px;
    text-align: center;
    span {
      display: inline-block;
      position: relative;
    }
  }
  &-content {
    font-size: rem(16);
    text-align: center;
    display: flex;
    justify-content: center;
    @include mq(lg) {
      font-size: rem(20);
    }
  }
  .button {
    text-align: center;
  }
}

/*----------------------------
  Form
----------------------------*/
.form {
  color: $c-3;
  padding: 40px 0;
  position: relative;
  margin-bottom: 40px;
  &::before {
    content: "";
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 160px;
    background-color: $c-1;
  }

  &-wrap {
    @include mq(lg) {
      padding: 0 60px;
    }
  }
  &-title {
    font-size: rem(28);
    margin-bottom: 40px;
    text-align: center;
    span {
      display: inline-block;
      position: relative;
    }
  }
  &-content {
    font-size: rem(16);
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    @include mq(lg) {
      font-size: rem(20);
    }
  }
  label {
    width: 30%;
    display: inline-block;
  }
  input {
    width: 70%;
    display: inline-block;
    border: 1px solid #d9d9d9;
    border-radius: 5px/5px;
  }
  textarea {
    width: 70%;
    display: inline-block;
    height: 200px;
    border: 1px solid #d9d9d9;
    border-radius: 5px/5px;
  }
  &-textarea {
    vertical-align: top;
  }
  &-submit {
    text-align: center;
  }
}
