@tailwind base;
@tailwind components;
@tailwind utilities;

/*----------------------------
  sass function
-----------------------------*/
/*rem変換*/
$baseFontSize: 16;
@function rem($pixels) {
  @return $pixels / $baseFontSize * 1rem;
}
/*ブレイクポイント*/
$breakpoints: (
  "sm": "screen and (min-width: 400px)",
  "md": "screen and (min-width: 768px)",
  "lg": "screen and (min-width: 1000px)",
  "xl": "screen and (min-width: 1200px)",
) !default;
@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
/*変数*/
$c-white: #fff;
$c-black: #000;
$c-1: #f4f4f1;
$c-2: #333333;
$c-3: #f0e3d9;
$c-font: #707070;

/*----------------------------
  global
-----------------------------*/
.button {
  a {
    padding: 10px 40px 10px 20px;
    background-color: $c-1;
    display: inline-block;
    font-size: rem(14);
    border-radius: 2px /2px;
    box-shadow: 2px 2px 2px #d1d1d1;
    position: relative;
    &::before {
      position: absolute;
      top: 50%;
      right: 20px;
      content: "";
      display: block;
      height: 7px;
      width: 7px;
      border-top: 1px solid $c-2;
      border-right: 1px solid $c-2;
      transform: translate(0, -50%);
      rotate: 45deg;
    }
  }
}
.sp-show {
  @include mq(md) {
    display: none;
  }
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 20px;
}
body {
  font-family: "Noto Serif JP", serif;
  font-family: "Source Serif Pro", serif;
  color: $c-2;
}
h1 {
}
h2 {
}
h3 {
}
h4 {
}
h5 {
}
p {
}
span {
}
/*----------------------------
  header
----------------------------*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  &-wrap {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mq(md) {
      height: 90px;
    }
  }
  &-logo {
    font-size: rem(20);
    @include mq(lg) {
      font-size: rem(26);
    }
  }
  &-menu {
    padding: 10px;
    margin-right: -10px;
    @include mq(lg) {
      display: none;
    }

    span {
      display: block;
      width: 25px;
      height: 1px;
      background-color: $c-2;
    }
    :first-child {
      margin-bottom: 5px;
    }
    :last-child {
      margin-top: 5px;
    }
  }
  &-navi {
    display: none;
    @include mq(lg) {
      display: block;
    }
  }
  &-nav {
    display: flex;
    align-items: center;

    &-list {
      a {
        font-size: rem(14);
        @include mq(lg) {
          font-size: rem(16);
          display: inline-block;
          padding: 10px;
          margin-left: 20px;
        }
      }
    }
  }
}
/*----------------------------
  main
----------------------------*/
.main {
  margin-top: 60px;
  @include mq(md) {
    margin-top: 90px;
  }
}
/*----------------------------
  Footer
-----------------------------*/

/*----------------------------
  Key
----------------------------*/
.key {
  position: relative;
  &-area {
    background: url("../img/key-01.jpg");
    background-position: right -80px bottom 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 60px);
    margin-left: 80px;
    position: relative;
    @include mq(lg) {
      height: calc(100vh - 90px);
      margin-left: 110px;
    }
  }
  &-content {
    transform: translate(0, -50%);
    position: absolute;
    top: 50%;
    left: -40px;
    @include mq(lg) {
      left: 0;
    }
  }
  &-title {
    font-size: rem(30);
    margin-bottom: 20px;
    @include mq(md) {
      font-size: rem(40);
    }
    @include mq(lg) {
      font-size: rem(60);
    }
  }
  &-sub {
    font-size: rem(18);
    margin-bottom: 20px;
    @include mq(lg) {
      font-size: rem(26);
    }
    @include mq(lg) {
      font-size: rem(40);
    }
  }
  &-skill {
    font-size: rem(12);
    margin-bottom: 40px;
    @include mq(lg) {
      font-size: rem(16);
    }
    @include mq(lg) {
      font-size: rem(20);
    }
  }
}
/*----------------------------
  News
----------------------------*/

/*----------------------------
  About
----------------------------*/

/*----------------------------
  Work
----------------------------*/

/*----------------------------
  Flow
----------------------------*/

/*----------------------------
  Contact
----------------------------*/
