@tailwind base;
@tailwind components;
@tailwind utilities;
/*mixin*/
/*color*/
/*general*/
body {
  font-family: "Noto Serif JP", serif;
  font-family: "Source Serif Pro", serif;
}

p {
  margin-bottom: 20px;
}

main {
  margin-top: 80px;
}

/*header*/
.header {
  background-color: #202f55;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1002;
}
.header-wrap {
  display: flex;
  height: 80px;
  align-items: center;
}
.header-title {
  font-weight: bold;
  font-size: 1.625rem;
}
.header-nav {
  margin-left: auto;
}
.header-nav ul {
  display: flex;
}
.header-nav__list a {
  display: inline-block;
  position: relative;
}
.header-nav__list a::before {
  transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #fff;
  opacity: 0;
}
.header-nav__list a::after {
  transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  transform: translate(50%, 0);
  bottom: -5px;
  left: 0;
  height: 1px;
  width: 50%;
  background-color: #fff;
  opacity: 0;
}
.header-nav__list:hover ::before {
  opacity: 1;
}
.header-nav__list:hover ::after {
  opacity: 1;
}

/*key-visual*/
.key {
  background: url("/src/assets/img/key01.jpg");
  background-position: center;
  background-size: cover;
  height: calc(100vh - 80px);
  position: relative;
  overflow: hidden;
}
.key-deco {
  position: absolute;
  top: 0;
  left: 0;
  width: 200vw;
  height: 200vh;
  z-index: 1000;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: #48619b;
}
.key .container {
  height: calc(100vh - 80px);
}

.catchcopy {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1001;
}
.catchcopy-area__title {
  color: #fff;
  font-size: 3.75rem;
  margin-bottom: 20px;
}
.catchcopy-area__subtitle {
  color: #fff;
  font-size: 1.875rem;
  margin-bottom: 20px;
}
.catchcopy-area__text {
  color: #fff;
  font-size: 1.25rem;
}
.catchcopy-area__text span {
  border-right: #fff solid 1px;
}
.catchcopy-area__text span:last-child {
  border-right: none;
}

.section-title {
  font-size: 1.875rem;
  z-index: 1002;
  border-bottom: #202f55 2px solid;
  margin-bottom: 40px;
}
.section-title span {
  display: inline-block;
  font-size: 1rem;
  vertical-align: middle;
  margin-left: 20px;
}

.section-title.-white {
  color: #fff;
  font-size: 1.875rem;
  z-index: 1002;
  border-bottom: #fff 2px solid;
  margin-bottom: 40px;
}
.section-title.-white span {
  display: inline-block;
  font-size: 1rem;
  vertical-align: middle;
  margin-left: 20px;
}

/*news*/
.news-list {
  margin-bottom: 20px;
}
.news-list-item {
  display: inline-block;
  padding: 10px 0;
  margin-bottom: 10px;
}
.news-list-item__date {
  display: inline-block;
  margin-right: 40px;
}
.news-list-item__label {
  display: inline-block;
  margin-right: 40px;
}
.news-list-item__text {
  display: inline-block;
}
.news .newsarea {
  display: flex;
  justify-content: center;
}

.list-all-btn a {
  display: inline-block;
  padding: 10px 40px 10px 20px;
  box-sizing: border-box;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.list-all-btn a::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  top: 50%;
  right: 10px;
  z-index: 1001;
  transform: translate(-50%, -50%) rotate(45deg);
}
.list-all-btn a::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid #000;
  background-color: #fff;
  border-radius: 50%/50%;
  top: 50%;
  right: -10px;
  transform: translate(-50%, -50%) rotate(45deg);
}
.list-all-btn a:hover {
  text-decoration: underline;
}

.about {
  background-color: #48619b;
}
.about-content {
  display: flex;
  gap: 60px;
}
.about-content-img {
  width: 30%;
}
.about-content-img img {
  width: 100%;
}
.about-content-area {
  color: #fff;
  width: 60%;
}
.about-content-area__name {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.about-content-area__text {
  font-size: 1.25rem;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 10px;
}
.skill-list-item {
  width: calc(50% - 90px);
  position: relative;
  display: block;
  padding: 40px 60px;
  margin: 40px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.skill-list-item__num {
  position: absolute;
  top: -40px;
  left: -40px;
  padding: 10px 20px;
  background-color: #202f55;
  color: #fff;
  font-size: 2.5rem;
}
.skill-list-item__content__title {
  font-size: 1.875rem;
  border-bottom: 2px solid #777777;
  margin-bottom: 20px;
}
.skill-list-item__content__text {
  font-size: 1.25rem;
}

.work-list {
  display: flex;
  flex: 1;
  overflow: hidden;
}
.work-list-item {
  flex-shrink: 0;
  width: 45vw;
  position: relative;
  display: block;
  padding: 20px 60px;
  margin: 40px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.work-list-item__num {
  position: absolute;
  top: -40px;
  left: -40px;
  padding: 10px 20px;
  background-color: #777777;
  color: #fff;
  font-size: 2.5rem;
}
.work-list-item__content__title {
  font-size: 1.875rem;
  border-bottom: 2px solid #777777;
  margin-bottom: 20px;
}
.work-list-item__content__img {
  width: 100%;
  background: url("/src/assets/img/no_image.png");
  background-position: center;
  background-size: cover;
  padding-top: 40%;
  margin-bottom: 20px;
}
.work-list-item__content__text {
  font-size: 1.25rem;
}

.contact {
  background-color: #48619b;
}
.contact-btn {
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
}
.contact-btn a {
  position: relative;
  display: inline-block;
  padding: 20px 100px 20px 60px;
  font-size: 1.25rem;
  font-weight: bold;
  border: 2px solid #fff;
  transition: all 0.2s ease-in-out;
  border-radius: 1000px;
  background-color: #777777;
}
.contact-btn a::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  top: 50%;
  right: 20px;
  z-index: 1001;
  transform: translate(-50%, -50%) rotate(45deg);
}
.contact-btn a:hover {
  background-color: #fff;
  color: #202f55;
}
.contact-btn a:hover::before {
  border-top: 2px solid #000;
  border-right: 2px solid #000;
}

.footer {
  background-color: #202f55;
  color: #fff;
}
.footer-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}
.footer-nav {
  margin-left: auto;
  font-size: 0.75rem;
}
.footer-nav ul {
  display: flex;
}
.footer-title {
  font-size: 1.25rem;
}
.footer-copy {
  display: block;
}/*# sourceMappingURL=index.css.map */