@tailwind base;
@tailwind components;
@tailwind utilities;

/*mixin*/
$baseFontSize: 16;
@function rem($pixels) {
  @return $pixels / $baseFontSize * 1rem;
}

/*color*/
$c-main: #202f55;
$c-sub: #48619b;
$c-black: #000;
$c-white: #fff;
$c-grey: #777777;

/*general*/
body {
  font-family: "Noto Serif JP", serif;
  font-family: "Source Serif Pro", serif;
}
p {
  margin-bottom: 20px;
}
main {
  margin-top: 80px;
}
/*header*/
.header {
  background-color: $c-main;
  color: $c-white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1002;
  &-wrap {
    display: flex;
    height: 80px;
    align-items: center;
  }
  &-title {
    font-weight: bold;
    font-size: rem(26);
  }
  &-nav {
    margin-left: auto;
    ul {
      display: flex;
    }
    &__list {
      a {
        display: inline-block;
        position: relative;
        &::before {
          transition: all 0.2s ease-in-out;
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          height: 1px;
          width: 100%;
          background-color: $c-white;
          opacity: 0;
        }
        &::after {
          transition: all 0.2s ease-in-out;
          content: "";
          position: absolute;
          transform: translate(50%, 0);
          bottom: -5px;
          left: 0;
          height: 1px;
          width: 50%;
          background-color: $c-white;
          opacity: 0;
        }
      }
      &:hover ::before {
        opacity: 1;
      }
      &:hover ::after {
        opacity: 1;
      }
    }
  }
}

/*key-visual*/
.key {
  background: url("/src/assets/img/key01.jpg");
  background-position: center;
  background-size: cover;
  height: calc(100vh - 80px);
  position: relative;
  overflow: hidden;
  &-deco {
    position: absolute;
    top: 0;
    left: 0;
    width: 200vw;
    height: 200vh;
    z-index: 1000;
    transform: translate(-50%, -50%) rotate(-45deg);
    background-color: $c-sub;
  }
  .container {
    height: calc(100vh - 80px);
  }
}
.catchcopy {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1001;

  &-area {
    &__title {
      color: $c-white;
      font-size: rem(60);
      margin-bottom: 20px;
    }
    &__subtitle {
      color: $c-white;
      font-size: rem(30);
      margin-bottom: 20px;
    }
    &__text {
      color: $c-white;
      font-size: rem(20);
      span {
        border-right: $c-white solid 1px;
        &:last-child {
          border-right: none;
        }
      }
    }
  }
}
.section-title {
  font-size: rem(30);
  z-index: 1002;
  border-bottom: $c-main 2px solid;
  margin-bottom: 40px;
  span {
    display: inline-block;
    font-size: rem(16);
    vertical-align: middle;
    margin-left: 20px;
  }
}
.section-title.-white {
  color: $c-white;
  font-size: rem(30);
  z-index: 1002;
  border-bottom: $c-white 2px solid;
  margin-bottom: 40px;
  span {
    display: inline-block;
    font-size: rem(16);
    vertical-align: middle;
    margin-left: 20px;
  }
}
/*news*/
.news {
  &-list {
    margin-bottom: 20px;
    &-item {
      display: inline-block;
      padding: 10px 0;
      margin-bottom: 10px;
      &__date {
        display: inline-block;
        margin-right: 40px;
      }
      &__label {
        display: inline-block;
        margin-right: 40px;
      }
      &__text {
        display: inline-block;
      }
    }
  }
  .newsarea {
    display: flex;
    justify-content: center;
  }
}
.list-all-btn {
  a {
    display: inline-block;
    padding: 10px 40px 10px 20px;
    box-sizing: border-box;
    position: relative;
    transition: all 0.2s ease-in-out;
    &::before {
      content: "";
      position: absolute;
      width: 7px;
      height: 7px;
      border-top: 1px solid $c-black;
      border-right: 1px solid $c-black;
      top: 50%;
      right: 10px;
      z-index: 1001;
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after {
      content: "";
      position: absolute;
      width: 25px;
      height: 25px;
      border: 1px solid $c-black;
      background-color: $c-white;
      border-radius: 50%/50%;
      top: 50%;
      right: -10px;
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
.about {
  background-color: $c-sub;
  &-content {
    display: flex;
    gap: 60px;
    &-img {
      width: 30%;
      img {
        width: 100%;
      }
    }
    &-area {
      color: $c-white;
      width: 60%;
      &__name {
        font-size: rem(40);
        margin-bottom: 20px;
      }
      &__text {
        font-size: rem(20);
      }
    }
  }
}

.skill {
  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 10px;
    &-item {
      width: calc(50% - 90px);
      position: relative;
      display: block;
      padding: 40px 60px;
      margin: 40px;
      box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.3);
      &__num {
        position: absolute;
        top: -40px;
        left: -40px;
        padding: 10px 20px;
        background-color: $c-main;
        color: $c-white;
        font-size: rem(40);
      }
      &__content {
        &__title {
          font-size: rem(30);
          border-bottom: 2px solid $c-grey;
          margin-bottom: 20px;
        }
        &__text {
          font-size: rem(20);
        }
      }
    }
  }
}

.work {
  &-list {
    display: flex;
    flex: 1;
    overflow: hidden;
    &-item {
      flex-shrink: 0;
      width: 45vw;
      position: relative;
      display: block;
      padding: 20px 60px;
      margin: 40px;
      box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.3);
      &__num {
        position: absolute;
        top: -40px;
        left: -40px;
        padding: 10px 20px;
        background-color: $c-grey;
        color: $c-white;
        font-size: rem(40);
      }
      &__content {
        &__title {
          font-size: rem(30);
          border-bottom: 2px solid $c-grey;
          margin-bottom: 20px;
        }
        &__img {
          width: 100%;
          background: url("/src/assets/img/no_image.png");
          background-position: center;
          background-size: cover;
          padding-top: 40%;
          margin-bottom: 20px;
        }
        &__text {
          font-size: rem(20);
        }
      }
    }
  }
}

.contact {
  background-color: $c-sub;
  &-btn {
    color: $c-white;
    text-align: center;
    display: flex;
    justify-content: center;
    a {
      position: relative;
      display: inline-block;
      padding: 20px 100px 20px 60px;
      font-size: rem(20);
      font-weight: bold;
      border: 2px solid $c-white;
      transition: all 0.2s ease-in-out;
      border-radius: 1000px;
      background-color: $c-grey;
      &::before {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        border-top: 2px solid $c-white;
        border-right: 2px solid $c-white;
        top: 50%;
        right: 20px;
        z-index: 1001;
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &:hover {
        background-color: $c-white;
        color: $c-main;
      }
      &:hover::before {
        border-top: 2px solid $c-black;
        border-right: 2px solid $c-black;
      }
    }
  }
}
.footer {
  background-color: $c-main;
  color: $c-white;
  &-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
  }
  &-nav {
    margin-left: auto;
    font-size: rem(12);
    ul {
      display: flex;
    }
  }
  &-title {
    font-size: rem(20);
  }
  &-copy {
    display: block;
  }
}
